<html>
<head>
	<title></title>
</head>
<body>
<h1>Buzzball</h1>
	
	<div id="header">
		<a href="/galleries">List of Galleries</a>
		<a href="/">Home</a>
	</div>
<!-- ------------------------------------- -->
		<%= gallery.name %>
		<%= gallery.event %>
		<%= gallery.neighborhood %>
		<%= gallery.address %>
		<%= gallery.opening_date %>
		<%= gallery.open_thru %>
<!-- ------------------------- -->
				<!-- insta api -->
		<%= post.author %>
		<%= post.title %>
		<%= post.post %>
		<img src="<%= post.img %>"/>
		<%= post.tag %>
<!-- ----------------------------- -->
		<%= comment.name %>
		<%= comment.comment %>

	
</body>
</html>