<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="../styles.css">
	<link href='http://fonts.googleapis.com/css?family=Erica+One' rel='stylesheet' type='text/css'>
	<title>Galleries</title>
</head>

<body>
	<div id="header">
		<h1 id="logo">Buzzball</h1>
		<h2 id="sub">An online forum for gallery critique</h2><br>
		<h3 id="list"><a href="/galleries">List of Galleries</a> <a href="/">Home</a></h3>
	<div>
	

	<div id= "gallery_head">
		<ul id="form">
			<li id="name"><%= gallery.name %></li>
				<%= gallery.event %><br>
				<%= gallery.neighborhood %><br>
				<%= gallery.address %><br>
				Openging Date: <%= gallery.opening_date %><br>
				Open thru: <%= gallery.open_thru %>
		</ul>
	</div>

	<div id="form">
		<ul id="form">
			Posts:
			<% posts.each do |post| %>
			<li>
				<a href="/posts/<%= post.id %>">
					<%= post.title %>
				</a>

		<form action="/galleries/<%= post.id %>/upvote" method="POST">
			<input type= "hidden" name="post[upvote]">
			<button> upvote </button>
		</form>

		<%=post.upvote %>

		<form action="/galleries/<%= post.id %>/downvote" method="POST">
			<input type= "hidden" name="post[downvote]">
			<button> downvote </button>
		</form>

		<%=post.downvote %>

			</li>
			<% end %>
		</ul>
	</div>
	
	<div id="form">
		<form action="/posts" method="POST">
		<input type="hidden" name="post[gallery_id]" value="<%= gallery.id %>"/> 
			<ul id="form">
				Add a Post:
		        <li><input type="text" name="post[author]" placeholder="Author" /></li>
		        <li><input type="text" name="post[title]" placeholder="Title" /></li>
		        <li><textarea rows="25" cols="60" name="post[post]"></textarea></li>
		        <li><input type="text" name="post[img]" placeholder="Image URL" /></li>
		        <li><input type="text" name="post[tag]" placeholder="tags" /></li>
		    </ul>
	        
	        <button>Submit</button>
	    </form>
	</div>

</body>
</html>
