<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>All Posts</title>
</head>
<body>
	<h1>Buzzball</h1>
	
	<div id="header">
		<a href="/galleries">List of Galleries</a>
		<a href="/">Home</a>
	</div>
<!-- ------------------------------------- -->
				<%= gallery.name %>
				<%= gallery.event %>
				<%= gallery.neighborhood %>
				<%= gallery.address %>
				<%= gallery.opening_date %>
				<%= gallery.open_thru %>
				<!-- ------------------------- -->
				<!-- insta api -->

	<% posts.each do |post| %> 
	<!-- subscribe button -->
	<!-- comment button -->
</body>
</html>