<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>New Post</title>
</head>
<body>
	<h1>Buzzball</h1>
	
	<div id="header">
		<a href="/galleries">List of Galleries</a>
		<a href="/">Home</a>
	</div>
	<!-- ----------------------------------- -->
				<%= gallery.name %>
				<%= gallery.event %>
				<%= gallery.neighborhood %>
				<%= gallery.address %>
				<%= gallery.opening_date %>
				<%= gallery.open_thru %>
				<!-- ------------------------- -->
				<!-- insta api -->
	<div>
		<h3>Add a Post:</h3>
		<form action="/posts/new" method="POST">
			<ul>
		        <li><input type="text" name="author" placeholder="Author" /></li>
		        <li><input type="text" name="title" placeholder="Title" /></li>
		        <li><text area rows="25" cols="60" name="post"></textarea></li>
		        <li><input type="text" name="img" placeholder="Image URL" /></li>
		        <li><input type="text" name="tag" placeholder="tags" /></li>
		    </ul>
	        
	        <button>Submit</button>
	    </form>
	</div>
	


</body>
</html>